<div class="create-car-wrapper">
    <label for="create-car">Create car:</label>
    <input type="text" name="create-car" class="input-text" id="create-car-name">
    <label for="create-car-color"></label>
    <input type="color" name="create-car-color" value="#33b333" class="input-color" id="create-car-color">
    <button class="create-car-button">Create</button>
</div>
<div class="update-car-wrapper">
    <label for="update-car">Update car:</label>
    <input type="text" name="update-car" class="input-text" id="update-car-name">
    <label for="update-car-color"></label>
    <input type="color" name="update-car-color" value="#33b333" class="input-color" id="update-car-color">
    <button class="update-car-button">Update</button>
</div>
<div class="control-buttons-wrapper">
    <button class="button-race">Race</button>
    <button class="button-reset">Reset</button>
    <button class="generate-cars-button">Generate cars</button>
</div>