<h3 class="tree-title">Выберите фон</h3>
<div class="backgrounds">
    <button class="button-background-item button-background-item-active"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
    <button class="button-background-item"></button>
</div>