<h3 class="tree-title">Выберите фон</h3>
<div class="backgrounds">
    <button class="button-background-item button-background-item-active" value="1"></button>
    <button class="button-background-item" value="2"></button>
    <button class="button-background-item" value="3"></button>
    <button class="button-background-item" value="4"></button>
    <button class="button-background-item" value="5"></button>
    <button class="button-background-item" value="6"></button>
    <button class="button-background-item" value="7"></button>
    <button class="button-background-item" value="8"></button>
    <button class="button-background-item" value="9"></button>
    <button class="button-background-item" value="10"></button>
</div>