<h3 class="tree-title">Гирлянда</h3>
<div class="garland-wrapper">
    <div class="checkbox-wrapper">
        <label for="checkbox-garland"> Вкл</label>
        <input type="checkbox" id="checkbox-garland" class="checkbox-garland">
    </div>
    <div class="garlands">
        <button class="button-garland-item" value="default"></button>
        <button class="button-garland-item" value="red"></button>
        <button class="button-garland-item" value="blue"></button>
        <button class="button-garland-item" value="yellow"></button>
        <button class="button-garland-item" value="green"></button>
    </div>
</div>