
$light-text-color: #fff4f4;
$border-color: #0091b0;
$dark-text-color: #07084f;
$field-color: #fff4f4;
$interactive-color: #225c3e;

.search-form {
    width: 400px;
}

.search-input {
    background-image: url('../../../assets/svg/search.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px auto;
    outline: 0;
}

.search-chosen-sort-fields {
    border: 4px solid $border-color;
    font-size: 20px;
    color: $dark-text-color;
    padding: 17px 50px 17px 17px;
    width: 400px;
    background-color: $field-color;
    border-radius: 10px;
}