.garland-light-wrapper {
    display: none;
    justify-content: center;
    height: inherit;
    width: 40%;
    position: absolute;
    top: 0%;
    left: 30%;
    pointer-events: none;
    z-index: 90;
    overflow: hidden;
}

.garland-line {
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    pointer-events: none;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    margin: 50px auto 0;
}

.garland-bulb {
    position: absolute;
    top: 15%;
    left: 52%;
    margin: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.garland-line .garland-bulb:nth-child(4n) {
    background-color: red;
    animation-name: flash-1;
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.5);
}

.garland-line .garland-bulb:nth-child(4n + 1) {
    background-color: blue;
    animation-name: flash-2;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, 0.5);
}

.garland-line .garland-bulb:nth-child(4n + 2) {
    background-color: yellow;
    animation-name: flash-1;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 0, 0.5);
}

.garland-line .garland-bulb:nth-child(4n + 3) {
    background-color: green;
    animation-name: flash-2;
    box-shadow: 0px 0px 5px 5px rgba(0, 255, 0, 0.5);
}

@keyframes flash-1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash-2 {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }
}
