@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --light-text-color: #f5f3f4;
  --right-answer-color: green;
  --wrong-answer-color: red;
  --end-quiz-color: #000;
  --button-hover: red;
}

html {
  font-family: Roboto, sans-serif;
  color: var(--light-text-color);
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}

button,
input {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  border: var(--button-hover) solid 2px;
  background-color: rgba(255, 0, 0, 0.2);
}

.footer {
  height: 5vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text-color);
  width: 70%;
  /* position: fixed; */
  bottom: 0;
  left: 15%;
}

footer img {
  width: 50px;
}

.github-link {
  text-decoration: none;
}

.github-link:visited,
.github-link:link,
.github-link:hover {
  color: var(--light-text-color);
}

/* COMMON BUTTONS */
.buttons-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.back-to-button {
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border: var(--light-text-color) solid 2px;
  color: var(--light-text-color);
  font-size: 20px;
  margin-bottom: 40px;
}

#back-to-categories-button {
  margin-bottom: 40px;
}

.back-to-start-button {
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: var(--light-text-color) solid 2px;
  color: var(--light-text-color);
  font-size: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 520px) and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 22px;
  }
  body {
    background-size: 60%;
  }

  /* COMMON BUTTONS */
  .buttons-wrapper {
    margin-top: 50px;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  .back-to-button {
    font-size: 26px;
    width: 220px;
    margin-bottom: 0;
  }
}
