@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --light-text-color: #f5f3f4;
    --right-answer-color: green;
    --wrong-answer-color: red;
}

html {
    font-family: Roboto, sans-serif;
    color: var(--light-text-color);
}

/* START PAGE */
body {
    background-size: cover;
    /* background-image: url('./assets/img/j-retrato-de-cardenal-rafael.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

.start-page-wrapper {
    height: 95vh;
}

.settings {
    margin-top: 10px;
    margin-bottom: 200px;
    background-size: contain;
    background-image: url('./assets/svg/settings-icon.svg');
    background-color: black;
    background-repeat: no-repeat;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 90%;
}

.art-quiz-logo {
    background-size: contain;
    background-image: url('./assets/svg/art-quiz-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    height: 50px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.start-button {
    width: 200px;
    height: 75px;
    border-radius: 35px;
    background-color: transparent;
    border: var(--light-text-color) solid 2px;
    color: var(--light-text-color);
    font-size: 20px;
}

.footer {
    height: 5vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-text-color);
    width: 70%;
    position: fixed;
    bottom: 0;
    left: 15%;
}

footer img {
    width: 50px;
}

.github-link {
    text-decoration: none;
}

.github-link:visited,
.github-link:link,
.github-link:hover {
    color: var(--light-text-color);
}

/* SETTINGS PAGE */
.title {
    text-align: center;
}

.settings-items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.settings-item {
    text-align: center;
    border: var(--light-text-color) solid 2px;
    border-radius: 10px;
    width: 200px;
    background-color: grey;
}

.settings-range {
    margin: 10px 0;
}

input[type='checkbox'] {
    transform: scale(2);
}

.checkbox > span {
    padding-left: 5px;
}

.button-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.back-to-start-button {
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: var(--light-text-color) solid 2px;
    color: var(--light-text-color);
    font-size: 20px;
}

/* CATEGORIES PAGE */

.categories-wrapper {
    width: 100%;
}

.categories {
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
}

.category {
    display: flex;
    flex-direction: column;
    border: var(--light-text-color) solid 2px;
    border-radius: 10px;
    background-color: #821415;
    position: relative;
}

.category-information {
    padding: 0 5px;
}

.button-category-image {
    /* background-image: url('https://raw.githubusercontent.com/darya-startsava/image-data/master/img/0.jpg'); */
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 0 0 10px 10px;
    border: none;
    /* filter: grayscale(100%); */
}

.show-result {
    width: 100px;
    height: 42px;
    border-radius: 0 0 10px 10px;
    border: none;
    background-color: #821415;
    color: var(--light-text-color);
}

/* AUTHOR QUIZ PAGE */

.time-left {
    text-align: center;
    margin-bottom: 10px;
}

.image-author-quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-author-quiz {
    /* background-image: url('https://raw.githubusercontent.com/darya-startsava/image-data/master/img/0.jpg'); */
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: var(--light-text-color) solid 2px;
}

.answers-author-quiz-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.answer-author-button {
    width: 304px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    border: var(--light-text-color) solid 2px;
    color: var(--light-text-color);
    font-size: 20px;
}

.buttons-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.back-to-button {
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    border: var(--light-text-color) solid 2px;
    color: var(--light-text-color);
    font-size: 20px;
}

/* PICTURE QUIZ PAGE */
.answers-pictures-quiz-wrapper {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.answer-picture-button {
    /* background-image: url('https://raw.githubusercontent.com/darya-startsava/image-data/master/img/0.jpg'); */
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: var(--light-text-color) solid 2px;
}

/* WINDOW CORRECT ANSWER */

.window-correct-answer {
    display: none;
    position: absolute;
    width: 80%;
    height: 70%;
    top: 10%;
    left: 10%;
    /* background-color: var(--right-answer-color); */
    border-radius: 15px;
    border: var(--light-text-color) solid 3px;
    text-align: center;
    padding-top: 50px;
    min-height: 350px;
}

.correct-answer-message {
    margin-bottom: 20px;
}

.correct-answer-image-with-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.correct-answer-information {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.correct-answer-picture {
    max-width: 70%;
    max-height: 150px;
}

.window-correct-answer-right-block {
    max-height: 15%;
    margin-bottom: 15%;
}

.continue-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: var(--light-text-color) solid 2px;
    color: var(--light-text-color);
}

/* RESULTS */

.result {
    text-align: center;
    font-size: 40px;
}

.results-wrapper {
    margin-top: 10px;
    width: 100%;
}

.results {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

.result-picture-button {
    background-image: url('https://raw.githubusercontent.com/darya-startsava/image-data/master/img/0.jpg');
    background-size: cover;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    border: var(--light-text-color) solid 2px;
    /* filter: grayscale(100%); */
}

@media screen and (min-width: 520px) and (max-width: 1024px) {
    html {
        font-size: 18px;
    }
    /* START PAGE */
    .settings {
        height: 35px;
        width: 35px;
        margin-left: 93%;
    }

    .art-quiz-logo {
        height: 75px;
    }
    /* SETTINGS PAGE */

    .settings-items {
        gap: 40px;
    }

    .settings-item {
        width: 300px;
    }
    /* CATEGORIES PAGE */

    .categories-wrapper {
        margin-top: 50px;
    }

    .categories {
        max-width: 585px;
    }
    /* AUTHOR QUIZ PAGE */
    /* PICTURE QUIZ PAGE */
    .answers-pictures-quiz-wrapper {
        gap: 20px;
        max-width: 600px;
    }

    .answer-picture-button {
        height: 200px;
        width: 200px;
    }
    /* WINDOW CORRECT ANSWER */
    .window-correct-answer {
        min-height: 400px;
    }

    .correct-answer-message {
        font-size: 25px;
    }

    .correct-answer-picture {
        max-height: 200px;
    }
    /* RESULTS */
    .results {
        max-width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 22px;
    }
    /* START PAGE */
    body {
        background-size: 60%;
    }

    .settings {
        height: 40px;
        width: 40px;
        margin-left: 95%;
    }

    .art-quiz-logo {
        height: 100px;
    }

    .start-buttons {
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
    }
    /* SETTINGS PAGE */

    .settings-items {
        flex-direction: row;
        gap: 40px;
        margin-top: 100px;
    }

    .settings-item {
        width: 300px;
    }

    .button-wrapper {
        margin-top: 100px;
    }
    /* CATEGORIES PAGE */
    .categories-wrapper {
        margin-top: 100px;
    }

    .categories {
        max-width: 960px;
    }

    .button-category-image {
        height: 120px;
        width: 120px;
    }

    .show-result {
        width: 120px;
        height: 50px;
    }
    /* AUTHOR QUIZ PAGE */

    .image-author-quiz {
        height: 350px;
        width: 350px;
    }

    .answers-author-quiz-wrapper {
        margin: 0 auto;
        margin-top: 30px;
        flex-direction: row;
        column-gap: 20px;
        flex-wrap: wrap;
        max-width: 1000px;
    }

    .answer-author-button {
        width: 400px;
        height: 40px;
        border-radius: 7px;
        background-color: transparent;
        border: var(--light-text-color) solid 2px;
        color: var(--light-text-color);
        font-size: 26px;
    }

    .buttons-wrapper {
        margin-top: 50px;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .back-to-button {
        font-size: 26px;
        width: 220px;
    }

    /* PICTURE QUIZ PAGE */
    .answers-pictures-quiz-wrapper {
        margin-top: 50px;
        gap: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1440px;
    }

    .answer-picture-button {
        height: 230px;
        width: 230px;
    }
    /* WINDOW CORRECT ANSWER */

    .window-correct-answer {
        height: 500px;
    }

    .correct-answer-message {
        font-size: 30px;
    }

    .window-correct-answer-right-block {
        margin-bottom: 0;
    }

    .correct-answer-image-with-information {
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    .correct-answer-picture {
        max-width: 60%;
        max-height: 400px;
    }
    /* RESULTS */
    .results {
        max-width: 800px;
    }
}
