@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$light-text-color: #fff4f4;
$border-color: #0091b0;
$dark-text-color: #07084f;
$field-color: #fff4f4;

body {
    margin: 0;
    height: 97vh;
    background-image: url('./assets/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    backdrop-filter: blur(3px);
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

// HEADER

.header-button-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.header-button {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: $light-text-color;
    font-size: 30px;
    padding: 10px;
}

.active {
    border-bottom: 7px solid $border-color;
}
// MAIN
// SEARCH-CHOSEN-SELECT SECTION 
.search-chosen {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.search-form {
    width: 400px;
}

// @mixin element-color($color) {
//     background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
// }

.search-input {
    // @include element-color($dark-text-color);
    background-image: url('./assets/svg/search.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px auto;
    outline: 0;
}

.search-chosen-select-fields {
    border: 4px solid $border-color;
    font-size: 20px;
    color: $dark-text-color;
    padding: 17px;
    width: 400px;
    background-color: $field-color;
    border-radius: 10px;
}

.chosen,
.select {
    box-sizing: border-box;
}

.select {
display: flex;
}

.sort-select{
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid $border-color;
}

// FOOTER

.footer {
    height: 2vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 70%;
    position: fixed;
    bottom: 0;
    left: 15%;
}

.logo-rs-school {
    height: 50px;
    width: 85px;
    background: url('./assets/svg/rs_school_js.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.github-link {
    text-decoration: none;
}

.github-link:visited,
.github-link:link,
.github-link:hover {
    color: white;
}
