$light-text-color: #fff4f4;
$border-color: #0091b0;
$field-color: #fff4f4;
$dark-text-color: #07084f;

.settings-wrapper {
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.settings-button {
    border: none;
    width: 40px;
    height: 40px;
    background-size: 40px auto;
    background-color: rgba(0, 0, 0, 0);
}

.volume-button {
    background-image: url('../../assets/svg/audio.svg');
}

.snow-button {
    background-image: url('../../assets/svg/snow.svg');
}

.reset-settings-button {
    color: $light-text-color;
    width: auto;
    height: auto;
    padding: 10px;
    border: 3px solid $border-color;
    border-radius: 15px;
    background-color:#000;
}

.settings-button:hover {
    filter: invert(28%) sepia(85%) saturate(1771%) hue-rotate(167deg) brightness(106%) contrast(101%);
}

.settings-button-active {
    filter: invert(25%) sepia(91%) saturate(321%) hue-rotate(96deg) brightness(92%) contrast(87%);
}

.snowflake {
    position: absolute;
    top: 0px;
    animation: fall linear forwards;
    background-image: url('../../assets/svg/snowflake.svg');
    width: 20px;
    height: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(calc(100vh - 50px));
    }
}
