$button-color: #fe8b01;
$button-text-color: #3b3b6b;

.column-car {
    height: 25px;
    width: 25px;
}

td {
    text-align: center;
}

th,
td {
    padding: 5px 10px;
}

th {
    background-color: $button-color;
    color: $button-text-color;
}
