<article class="tree-page">
    <section class="settings-section"></section>
    <section class="tree-section">
        <div class="main-tree">
            <map name="tree-map">
                <area class="tree-zone droppable" target="" alt="" title=""
                    coords="19,650,107,370,183,162,244,30,332,244,389,413,429,569,448,635,393,678,239,687,111,677"
                    shape="poly">
            </map>
            <img src="../../assets/trees/1.png" alt ="" class="main-tree-image" usemap="#tree-map">
        </div>
    </section>
    <section class="chosen-toys-section"></section>
</article>